@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Sedan+SC&display=swap');


*{
  margin: 0;
  padding: 0;
}

:root{
    --color1:  #e041df ;
    --color2:  #e85ce7 ;
    --color3:  #f078ef ;
    --color4:  #f793f7 ;
    --color5:  #ffaeff ;

}
